* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

section {
  width: 960px;
  margin: 50px auto;
  display:flex;
}

.image-box {
  width: 300px;
  padding:10px;
  background-color: #EEEEEE;
  position: relative;
  margin-right:30px;
}

.image-box:last-child {
  margin-right:0;
}

.image1 {
  height: 150px;
  background-image: url(chapter9.img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.image2 {
  height: 150px;
  background-image: url(chapter9.img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.image3 {
  height: 150px;
  background-image: url(chapter9.img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.image1-2 {
  position: absolute;
  top:0;
  left:0;
  background-color:#FF9A4B;
  color:#fff;
}

.image-title {
  padding:15px 0 5px;
}

footer {
  width:100%;
  height:50px;
  background-color:#AAAAAA;
}



@media screen and (max-width: 768px) {
  header {
    width:100%;
  }
  
  section {
    width: 100%;
    display: block;
    margini:0 auto;
  }
  
  .image-box {
    width: 90%;
    margin:0 auto;
  }
  
  .image-box:nth-child(2) {
    margin:20px auto;
  }
  
  .image-box:last-child {
    margin: auto
    
  }
  footer {
    width: 100%;
  }
}


